extends base.pug

block scripts
  script(src='/static/index.js')

block style 
   style
      include ../static/style.css

block content 


    section#introSection 
        div Welcome to Kiran's Dance Academy
        div.small Eat Learn Dance Repeat

    section#missionSection 
        h2 Our Mission 
        div.card 
            h3 Dance Perfection
            div.card-box
                div.card-img   
                    img(src="/static/img/1.png")  
                card.card-content  
                    p This is the best academy of the universe   

        div.card 
            h3 Dance the way you like
            div.card-box
                div.card-img   
                    img(src="/static/img/2.png")  
                card.card-content  
                    p This is the best academy of the universe

        div.card 
            h3 Expert Teaching
            div.card-box
                div.card-img   
                    img(src="/static/img/3.png")  
                card.card-content  
                    p This is the best academy of the universe

    section#sponsorsSection 
        h2 Our Sponsors
        div#sponsors   
            img(src="/static/img/logo1.png" Class="spImage")
            img(src="/static/img/logo2.png" Class="spImage")
            img(src="/static/img/logo3.png" Class="spImage")
            img(src="/static/img/logo4.png" Class="spImage")        